body {
  margin: 0px;
  overflow-x: clip;
}
* {
  font-family: "Spartan", sans-serif;
}
.dialog form {
  width: 360px;
}

.label {
  margin: 0 8px 0 0;
}

.iconDialog svg {
  width: 40px;
  height: 50px;
  display: block;
  margin: auto;
}

.button-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}
.category-container {
  margin-bottom: 10px;
  text-transform: capitalize;
}
.button-container button {
  color: #00ccd1;
  background-color: white;
  border: 1px solid #00ccd1;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40;
}

.select-container div {
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.select-container select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2px 0;
  font-size: 14px;
  outline: none;
  margin-right: 15px;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.image-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 50;
  width: 50;
}

.image-container:hover {
  background: #d3d3d3b8;
}

.category-container span {
  font-weight: 700;
  font-size: 16px;
  padding: 4px 0;
  color: #00ccd1;
  margin-bottom: 20px;
}

input {
  padding: 2px 0;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
}
.input-field {
  display: flex;
  flex-direction: row;
  height: 30px;
  border: 0;
  width: 100%;
  padding: 5;
  margin: 0px 0;
}

.info-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  height: 40px;
}
.info-box svg {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}
.info-box p {
  font-size: 14px;
}
.alert {
  position: absolute;
  top: 20%;
  left: 30%;
  background: white;
  padding: 10px;
}
