body {
  margin: 0px;
  overflow-x: clip;
}

* {
  font-family: "Spartan", sans-serif;
}

.dialog form {
  width: 360px;
}

.iconDialog svg {
  display: block;
  margin: auto;
}

.button-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.button-container button {
  color: #00ccd1;
  background-color: white;
  border: 1px solid #00ccd1;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 35px;
}

.select-container div {
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.select-container select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2px 0px;
  font-size: 12px;
  outline: none;
  margin-right: 15px;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.image-container .image-container-text {
  visibility: hidden;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.801);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  margin-left: -10px;
  overflow: hidden;
}

.image-container-text {
  font-size: 11px;
}

.image-container:hover .image-container-text {
  visibility: visible;
}

.image-container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 55px;
  padding: 10px 0px;
  cursor: pointer;
  margin: auto 5px;
}

.image-container:hover {
  transition: all 0.3s ease-in-out;
  background: #d3d3d3b8;
}

.category-container {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.category-container span {
  font-weight: 700;
  font-size: 14px;
  padding: 4px 0px;
  color: #00ccd1;
  margin-bottom: 15px;
}

.eos-form {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

input {
  padding: 2px 0px;
  font-size: 12px;
  width: 100%;
  border: none;
  outline: none;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.input-field {
  display: flex;
  flex-direction: row;
  height: 25px;
  border: none;
  width: 100%;
  padding: 5px;
  margin: 0px;
}

.info-box {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
  height: 40px;
}

.info-box svg {
  width: 15px;
  height: 15px;
  margin: 0px 0px 3px 10px;
}

.info-box p {
  font-size: 12px;
}

.alert {
  position: fixed;
  bottom: 10%;
  display: flex;
  left: 23%;
  width: 50%;
  background: white;
  padding: 10px;
  z-index: 1;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px;
}

.alert span {
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 1px lightgray;
}

::-webkit-scrollbar-thumb {
  background: #00ccd1;
  border-radius: 10px;
}

.eos-info-container .eos-info {
  visibility: hidden;
  cursor: default;
  border: 1px solid black;
  background-color: white;
  width: 250px;
  height: 195px;
  color: black;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  right: 10px;
}

.eos-info-container:hover .eos-info {
  visibility: visible;
}

.eos-info-container:not(hover) .eos-info {
  transition: 0.2s ease-out;
}

.eos-info-container {
  position: relative;
  display: block;
  cursor: pointer;
  margin: auto 5px;
  cursor: pointer;
}

.eos-info {
  font-size: 12px;
}

.no-icon-found {
  position: fixed;
  text-align: center;
  display: flex;
  left: 5%;
  width: 75%;
  background: white;
  padding: 10px;
  z-index: 1;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: rgb(0, 0, 0) 2px 3px;
}
