body {
  margin: 0px;
  overflow-x: clip;
}

* {
  font-family: "Spartan", sans-serif;
}

.dialog form {
  width: 360px;
}

.iconDialog svg {
  width: 40px;
  height: 50px;
  display: block;
  margin: auto;
}

.button-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.button-container button {
  color: #00ccd1;
  background-color: white;
  border: 1px solid #00ccd1;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.select-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
}

.select-container div {
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.select-container select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2px 0px;
  font-size: 14px;
  outline: none;
  margin-right: 15px;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.image-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.image-container:hover {
  background: #d3d3d3b8;
}

.category-container {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.category-container span {
  font-weight: 700;
  font-size: 16px;
  padding: 4px 0px;
  color: #00ccd1;
  margin-bottom: 20px;
}

input {
  padding: 2px 0px;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
}

.input-field {
  display: flex;
  flex-direction: row;
  height: 30px;
  border: none;
  width: 100%;
  padding: 5px;
  margin: 0px;
}

.info-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.info-box svg {
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 10px;
}

.info-box p {
  font-size: 14px;
}

.alert {
  position: fixed;
  bottom: 10%;
  display: flex;
  left: 23%;
  width: 50%;
  background: white;
  padding: 10px;
  z-index: 1;
  border: 1px solid;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px;
}

.alert span {
  margin: auto;
}
