body {
  margin: 10px 30px;
  font-family: "Spartan", sans-serif;
}
* {
  font-family: "Spartan", sans-serif;
}
.dialog form {
  width: 360px;
}
.logo {
  width: 150px;
}
.label {
  margin: 0 8px 0 0;
}

.iconDialog svg {
  width: 50px;
  height: 50px;
}

.select-tag {
  width: 50%;
}

.select-container {
  display: flex;
  column-gap: 10%;
  margin: 15px 0;
  width: 100%;
}
.button-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}
.category-container {
  margin-bottom: 10px;
  text-transform: capitalize;
}
.button-container button {
  color: #00ccd1;
  background-color: white;
  border: 1px solid #00ccd1;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.select-container label {
  width: 45%;
  padding-right: 5%;
  display: flex;
  align-items: center;
}
.select-container label:first-of-type {
  width: 50%;
}

.select-container select {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.image-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px 0;
}

.category-container span {
  font-weight: 700;
  font-size: 16px;
  padding: 4px 0;
  color: #00ccd1;
  margin-bottom: 20px;
}
select,
input {
  padding: 2px 0;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
}
.searchInput {
  display: flex;
  height: 30px;
  border: 1px solid black;
  width: 93%;
  border-radius: 3px;
  padding: 2px 0 2px 10px;
  margin-bottom: 25px;
}
.searchInput svg {
  width: 50px;
  height: 30px;
}
.alert {
  position: absolute;
  top: 10%;
  left: 35%;
  background: white;
  padding: 10px;
}
